<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Terrain">
	<listeners>
		<listener class-name="com.listener.TestNgListner" />
	</listeners>
	<test name="jyoti_realDevice">
		<parameter name="platformName" value="Android" />
		<parameter name="platformVersion" value="9" />
		<parameter name="deviceName" value="Mi A1" />
		<parameter name="udId" value="288a84740804" />
		<parameter name="appPackage"
			value="org.gnucash.android" />
		<parameter name="appActivity" value=".ui.account.AccountsActivity" />
		<classes>
			<class name="com.terrain.Jyoti" />

		</classes>
	</test> <!-- jyoti -->
	
<test name="Jackson_realDevice">
        <parameter name="platformName" value="Android" />
        <parameter name="platformVersion" value="8.1.0" />
        <parameter name="deviceName" value="Moto G5 plus" />
        <parameter name="udId" value="ZY223ZMR7B" />
        <parameter name="appPackage" value="org.gnucash.android" />
        <parameter name="appActivity" value="org.gnucash.android.ui.account.AccountsActivity" />
        <classes>
            <class name="com.terrain.Jackson" />
        </classes>
	</test>
	
<test name="Parkavi_Test">
  <parameter name="platformname" value="Android"></parameter>
  <parameter name="platformversion" value="8"></parameter>
  <parameter name="devicename" value="vivo 1804"></parameter>
  <parameter name="udid" value="db18013"></parameter>
  <parameter name="appPackage" value="org.gnucash.android"></parameter>
  <parameter name="appActivity" value="org.gnucash.android.ui.account.AccountsActivity"></parameter>
  <parameter name="automationName" value="UiAutomator1"></parameter>
    <classes>
      <class name="com.terrain.Parkavi"/>
    </classes>
</test>
	
<test thread-count="5" name="elango-Test">
  <parameter name="platformName" value="Android"> </parameter>
  <parameter name="platformVersion" value="8.1.0"> </parameter>
  <parameter name="deviceName" value="Redmi Note 5 Pro"> </parameter>
  <parameter name="udid" value="42d41177"></parameter>
  <parameter name="appPackage" value="org.gnucash.android"></parameter>
  <parameter name="appActivity" value="org.gnucash.android.ui.account.AccountsActivity"></parameter>

    <classes>
      <class name="com.appium.NewTest"/>
    </classes>
  </test> <!-- Test -->

</suite> <!-- Terrain -->
